body {
  background-image: url("./images/inspiration-geometry.png");
  background-color: #f5f5f5;
}

h4 {
  margin: 0;
}

body.sticky .sidebar, body.sticky .sidebar-toggle {
  overflow: hidden !important;
}

.sidebar-toggle {
  bottom: auto !important;
  top: 0 !important;
}

.card_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0 2% 16px 0;
  max-width: 300px;
}

.card_image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 240px;
  width: 100%;
}

.card_image_1 {
  background-image: url("./images/default.png");
}

.card_image_2 {
  background-image: url("./images/wtmw.png");
  background-color: #111;
}

.card_image_3 {
  background-image: url("./images/validea.png");
}

.card_image_4 {
  background-image: url("./images/statisfy.png");
  background-size: 90%;
  background-color: #fff;
}

.card_text {
  min-height: 80px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 16px;
  background-color: #f5f5f5;
}

.article_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.article_heading {
  font-size: 24px;
}

.article_author {
  color: #999;
  font-size: 14px;
  padding: 8px 0 0 0;
}

.medium_logo {
  background-image: url("./images/medium-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 25px;
  min-height: 25px;
  float: left;
  margin: 5px 5px 0 0;
}

.habr_logo {
  background-image: url("./images/habr_logo.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 25px;
  min-height: 25px;
  float: left;
  margin: 5px 5px 0 0;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .card_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* SIDEBAR */
/* SIDEBAR */
/* SIDEBAR */

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}

.bimbam {
  background-image: url("./images/bimbam.jpg");
}

.nikkierendler {
  background-image: url("./images/nikkierendler.jpg");
}

.who_we_are {
  padding: 16px;
  line-height: 1.5;
  text-align: justify;
}

.profile_img {
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border: 1px #ccc solid;
}

.profile_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 16px;
}

.profile_name {
  font-weight: 600;
  font-size: 16px;
}

.badge {
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 10px;
  height: fit-content;
  padding: 0 6px;
  line-height: 1.8;
  transform: translate(70px, -15px);
  position: absolute;
}

.logo {
  background-image: url("./images/akit.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
}

.stack_items_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 16px;
}

.stack_item {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  margin: 8px;
  background-color: #f5f5f5;
  border: 1px #ccc solid;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-weight: 300;
}

.stack_item_1 {
  background-image: url("./images/angular-logo.png");
}

.stack_item_2 {
  background-image: url("./images/nodejs-logo.png");
  background-size: 70%;
}

.stack_item_3 {
  background-image: url("./images/rx-logo.png");
}

.stack_item_4 {
  background-image: url("./images/nestjs-logo.svg");
}

.stack_item_5 {
  background-image: url("./images/ionic-logo.png");
  background-size: 70%;
}

.stack_item_6 {
  background-image: url("./images/postgres-logo.png");
  background-size: 70%;
}

.stack_item_7 {
  background-image: url("./images/sass-logo.png");
}

.stack_item_8 {
  background-image: url("./images/mongodb-logo.png");
}

.stack_item_9 {
  background-image: url("./images/antd-logo.svg");
}

.stack_item_10 {
  background-image: url("./images/mongodb-logo.png");
}

.additional_items_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0 24px 50px;
}

.additional_item {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  margin: 8px;
  background-color: #f5f5f5;
  border: 1px #ccc solid;
  border-radius: 50%;
}

.additional_item_1 {
  background-image: url("./images/express-logo.png");
  background-size: 100%;
}

.additional_item_2 {
  background-image: url("./images/figma-logo.png");
  background-size: 70%;
}

.additional_item_3 {
  background-image: url("./images/github-logo.png");
}

.additional_item_4 {
  background-image: url("./images/graphql-logo.png");
}

.additional_item_5 {
  background-image: url("./images/heroku-logo.png");
}

.additional_item_6 {
  background-image: url("./images/invision-logo.png");
  background-size: 100%;
}

.additional_item_7 {
  background-image: url("./images/socketio-logo.svg");
}

.additional_item_8 {
  background-image: url("./images/antd-logo.svg");
}

.additional_item_9 {
  background-image: url("./images/material-logo.png");
}

.additional_item_10 {
  background-image: url("./images/ts-logo.png");
}

.additional_item_11 {
  background-image: url("./images/js-logo.png");
}

.additional_item_12 {
  background-image: url("./images/trello-logo.png");
}

/* TOOLTIP */
/* TOOLTIP */
/* TOOLTIP */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
